#navigation {
    color: rgb(237, 237, 237);
    display: flex;
    width: 30%;
    margin-left: 10px;
    align-items: center;
    justify-content: flex-start;
    font-family: karla;
  }
.jumbotron {
  background-color: white;
}
p {
  width: 70%;
}
.rowbody {
  margin-top: 100px;
  margin-bottom: 100px;
}
.coltext {
  padding-left: 50px;
  padding-right: 50px;
}
.coltext2 {
  margin-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
}
.spacebox {
  margin-top: 100px;
}